* {
    all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
    all: unset;
    background-color: rgb(30, 30, 30);
    color: #cfd3da;
    padding: 5px;
}


.sidestuff slider {
    all: unset;
    color: #ffcab1;
}

.workspaces button:hover {
    color: #e07a5f;
}

