* {
    all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
    all: unset;
    background-color: rgb(70, 120, 120);
    color: #000000;
    padding: 10px;
}

.sidestuff slider {
    all: unset;
    color: #ffcab1;
}

.workspaces button:hover {
    color: #e07a5f;
}
